Flask==2.3.3
Flask-SQLAlchemy==3.1.1
gunicorn==21.2.0
nltk==3.8.1
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
psycopg2-binary==2.9.7
python-dotenv==1.0.0
SQLAlchemy==2.0.21
